name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show repo layout
        run: |
          echo "Repo root:"
          ls -la
          echo "docs folder contents (if any):"
          ls -la ./docs || true

      - name: Build GitHub Pages site
        uses: actions/jekyll-build-pages@v1
        with:
          source: '.'
          destination: './_site'
          token: ${{ secrets.GITHUB_TOKEN }}
